:root {
}

body {
    background-color: #2d2d2d;
    color: #ffffff;
    font-family: Sarabun, sans-serif;
    width: 100%;
}

.background-image {
    height: 40rem;
    width: 30rem;
}

.landing-info {
    align-items: center;
    justify-content: space-between;
    /*margin-top: 1rem;*/
    padding: 0 25px;
    height: 100vh;
}

.intro-text {
    font-size: 6rem;
    color: #ffffff;
}

.view-work-btn {
    background-color: transparent;
    border: white;
}

.about-info, .work-info, .contact-info {
    height: 100vh;

}

