:root {
}

body {
    background-color: #000;
    color: #fff;
    font-family: Sarabun, sans-serif;
    width: 100%;
}

.landing-info {
    height: 80vh;
    display: flex;
}

.dev-pic img {
    max-width: 20rem;
    max-height: 25rem;

}